*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

h1 {

    text-align: justify;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 50px;
    box-shadow: 0 1px 50px black;
}

body{
background-color: rgb(17, 226, 87);
font-family: Arial, Helvetica, sans-serif;


}

#jokoy {
font-size: 50px;
text-align: center;
color: rgb(251, 255, 0);
color: black;



}